*{
  margin: 0;
  padding: 0;
  background-color:#fff;
  box-sizing: border-box;
}

.form-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:400px;
}

.input-field{
  width:400px;
  margin-bottom:10px;
}

.input-field label{
  display: block;
  font-size:0.9em;
  color:#555;
  margin-bottom:4px;
}

.input-field input{
  width:100%;
  outline:none;
  border:1px solid #ccc;
  border-radius:2px;
  padding:9px 10px;
  font-size:0.95em;
}

.input-field input:focus{
  border: 1px solid #2554C7;
  color:#2554C7;
}

.form-container button{
  background-color:#2554C7;
  outline:none;
  width:402px;
  padding:12px 10px;
  border:1px solid #2554C7;
  border-radius:4px;
  color:#f1f1f1;
  font-weight:bold;
  text-transform:uppercase;
  font-size:0.8em;
  cursor: pointer;
  margin: 10px 0 0 0;
}
.form-container button:active{
  transform:scale(0.95);
}

.data-container{
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap: wrap;
  gap:10px;
  padding:20px 20px;
}

.data-container .card{
  width:200px;
  min-height:300px;
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow:0 3px 3px rgba(0, 0, 0, 0.19);
}

.data-container .card img{
  width:100%;
  height:200px;
}


.data-container .card h1 {
  color: #2554C7;
  font-size:1.5em;
  padding:5px 8px;
}

.data-container .card p{
  color:#555;
  padding:0 8px;
  white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide the overflowed text */
    text-overflow: ellipsis; /* Show ellipsis when text overflows */
}


@media (max-width:450px){
  .form-container .input-field{
    width:300px;
  }
  .form-container button{
    width:302px;
  }
  .data-container{
    justify-content: center;
    gap:6px;
  }
  .data-container .card{
    width:160px;
    height:280px;
  }
}